.logo {
    background: url(../images/layout/logo.png) 0 0 no-repeat;
}
.logo a {
    color: #fff;
}
.container{
    width: 1366px;
}
.opinioncardwrap .column-block {
    width: 20%;
}



/*手機板menu 換圖片1x*/


/*頁尾背景,換色*/


/*內頁標題,換色*/

